<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Leads count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.lead_generators.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.leads.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>