<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Leads count</th>
      <th>Assign to </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.lead_generators.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.leads.pluck(:first_name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Create a Lead", parent_child_path(@parent, @child) %>